# backend
/backend/app/__pycache__
/backend/app/services/__pycache__
/backend/app/utils/__pycache__
/backend/tests/__pycache__

# data
/data

# frontend 
/frontend/build
/frontend/node_modules
/frontend/.next

# miscellaneous 
/.vscode
/.env
frontend/.env.local
nayra.txt
