body {
  margin: 0;
  display: flex;
  height: 100vh;
  background-color: #f0f0f0;
  align-items: center;
  justify-content: center;
}

.register-container {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.left {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 20px;
}

.left h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.form-container {
  width: 80%;
  max-width: 400px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container .error-message {
  color: red;
  text-align: center;
  margin-bottom: 15px;
}

.form-container .form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
}

.form-container .register-button {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.form-container .register-button:hover {
  background-color: #333;
}